<% include partials/header %>

<h1>This is the show template!</h1>

<p>
    <%=campground.name%>
</p>
<img src="<%= campground.image %>" style="width: 200px;"></img>

<p><%=campground.description%></p>

<a href="/campgrounds">Go back</a>

<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %>

<% include partials/footer %>